In [32]:
import numpy as np
import pandas as pd
from prettytable import PrettyTable

In [ ]:
with open('input.txt', 'r', encoding='UTF-8') as file_in:
    n, m = tuple(file_in.readline().strip().split())

In [11]:
n = 5
m = 5

In [26]:
C = np.empty((n, m), dtype='<U1')
C

array([['', '', '', '', ''],
       ['', '', '', '', ''],
       ['', '', '', '', ''],
       ['', '', '', '', ''],
       ['', '', '', '', '']], dtype='<U1')

In [27]:
C[0, 0] = 'L'

In [28]:
for i in range(1, n):
    if C[0][i - 1] ==  'W':
        C[0][i] = 'L'
    else:
        C[0][i] = 'W'
print(C)
for j in range(1, m):
    if C[j - 1][0] == 'L':
        C[j][0] = 'W'
    else:
        C[j][0] = 'L'
print(C)
for i in range(n - 1):
    for j in range(m - 1):
        if C[i][j] == 'W' and C[i][j + 1] == 'W' and C[i + 1][j] == 'W':
            C[i + 1][j + 1] = 'L'
        else:
            C[i + 1][j + 1] = 'W'

[['L' 'W' 'L' 'W' 'L']
 ['' '' '' '' '']
 ['' '' '' '' '']
 ['' '' '' '' '']
 ['' '' '' '' '']]
[['L' 'W' 'L' 'W' 'L']
 ['W' '' '' '' '']
 ['L' '' '' '' '']
 ['W' '' '' '' '']
 ['L' '' '' '' '']]

In [29]:
C

array([['L', 'W', 'L', 'W', 'L'],
       ['W', 'W', 'W', 'W', 'W'],
       ['L', 'W', 'L', 'W', 'L'],
       ['W', 'W', 'W', 'W', 'W'],
       ['L', 'W', 'L', 'W', 'L']], dtype='<U1')

In [31]:
data = pd.DataFrame(C)
data

   0  1  2  3  4
0  L  W  L  W  L
1  W  W  W  W  W
2  L  W  L  W  L
3  W  W  W  W  W
4  L  W  L  W  L

In [34]:
table = PrettyTable()
for row in data.values:
    table.add_row(row)
print(table)

+---------+---------+---------+---------+---------+
| Field 1 | Field 2 | Field 3 | Field 4 | Field 5 |
+---------+---------+---------+---------+---------+
|    L    |    W    |    L    |    W    |    L    |
|    W    |    W    |    W    |    W    |    W    |
|    L    |    W    |    L    |    W    |    L    |
|    W    |    W    |    W    |    W    |    W    |
|    L    |    W    |    L    |    W    |    L    |
+---------+---------+---------+---------+---------+

In [36]:
pritty = PrettyTable()
for row in C:
    pritty.add_row(row)
print(pritty)

+---------+---------+---------+---------+---------+
| Field 1 | Field 2 | Field 3 | Field 4 | Field 5 |
+---------+---------+---------+---------+---------+
|    L    |    W    |    L    |    W    |    L    |
|    W    |    W    |    W    |    W    |    W    |
|    L    |    W    |    L    |    W    |    L    |
|    W    |    W    |    W    |    W    |    W    |
|    L    |    W    |    L    |    W    |    L    |
+---------+---------+---------+---------+---------+