In [49]:
import pandas as pd
import numpy as np

In [32]:
a = pd.Series('world')
b = pd.Series('asdf')
c = pd.Series([3, 4,4,56,7,8,9,88])
d = pd.Series([[1,2] , 4])

In [16]:
sorted(c)

[3, 4]

In [18]:
c.values
c.index
c.size
c.is_unique
c.ndim

1

In [33]:
d.iloc[[0, 1]]

0    [1, 2]
1         4
dtype: object

In [34]:
d.iloc[0][1]True

2

In [36]:
d.loc[1]

4

In [37]:
d.loc[1] = 20

In [38]:
d

0    [1, 2]
1        20
dtype: object

In [46]:
a = pd.Series([1,2,3,5,2,13,45,6,3,135,32])

In [47]:
a.sort_values(inplace=False)

0       1
1       2
4       2
2       3
8       3
3       5
7       6
5      13
10     32
6      45
9     135
dtype: int64

In [48]:
a

0       1
1       2
2       3
3       5
4       2
5      13
6      45
7       6
8       3
9     135
10     32
dtype: int64

In [54]:
b = np.array([[1,2,3], [2,3,4], [5,6,7]])

In [56]:
c = pd.DataFrame(b)

In [57]:
c

   0  1  2
0  1  2  3
1  2  3  4
2  5  6  7

In [62]:
a.name = 'asdf'
a.index.name = '1231'

In [63]:
a

1231
0       1
1       2
2       3
3       5
4       2
5      13
6      45
7       6
8       3
9     135
10     32
Name: asdf, dtype: int64

In [64]:
a[a>10]

1231
5      13
6      45
9     135
10     32
Name: asdf, dtype: int64

In [69]:
a.value_counts()

asdf
2      2
3      2
1      1
5      1
13     1
45     1
6      1
135    1
32     1
Name: count, dtype: int64

In [78]:
def func(i):
    i += 2

a.apply(func)

1231
0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
Name: asdf, dtype: object

In [79]:
a

1231
0     253
1       3
2       5
3       6
4       2
5      14
6      45
7       6
8       3
9     135
10     32
Name: asdf, dtype: int64

In [80]:
import pandas as pd

# Создаем Series
s = pd.Series(['cat', 'dog', 'bird'])

# Создаем словарь для замены
replacement_dict = {'cat': 'кот', 'dog': 'собака'}

# Применяем map для замены значений
mapped = s.map(replacement_dict)

print(mapped)

0       кот
1    собака
2       NaN
dtype: object

In [81]:
import pandas as pd
import numpy as np

# Создаем Series с отсутствующими значениями
s = pd.Series([1, 2, np.nan, 4, 5])

# Применяем функцию для удвоения значений, игнорируя NaN
mapped = s.map(lambda x: x * 2, na_action='ignore')

print(mapped)

0     2.0
1     4.0
2     NaN
3     8.0
4    10.0
dtype: float64

In [84]:
import pandas as pd

# Создаем Series
s = pd.Series(['apple', 'banana', 'cherry'])

# Применяем метод str.upper для преобразования в верхний регистр
mapped = s.map(str.upper)

print(mapped)

0     APPLE
1    BANANA
2    CHERRY
dtype: object

In [85]:
s = pd.Series(['apple', 'banana', 'cherry'])
s.take

<bound method NDFrame.take of 0     apple
1    banana
2    cherry
dtype: object>