def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    if N <= 0:
        return pd.DataFrame({f"getNthHighestSalary({N})": [None]})

    unique_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False)
    
    if N - 1 < len(unique_salaries):
        nth_salary = unique_salaries.iloc[N - 1]
        return pd.DataFrame({f"getNthHighestSalary({N})": [nth_salary]})
    else:
        return pd.DataFrame({f"getNthHighestSalary({N})": [None]})

In [1]:
import pandas as pd

In [10]:
data = {
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'department': ['HR', 'HR', 'Engineering', 'Engineering', 'Sales', 'Sales'],
    'salary': [70000, 80000, 90000, 90000, 60000, 60000]
}
employees_df = pd.DataFrame(data)

max_salaries = employees_df.groupby('department')['salary'].max()
 
print(pd.DataFrame(max_salaries))
def highest_salary_per_department(employee_df: pd.DataFrame) -> pd.DataFrame:
    # Find the maximum salary in each department
    max_salaries = employee_df.groupby('department')['salary'].max().reset_index()

             salary
department
Engineering   90000
HR            80000
Sales         60000

In [ ]:
import pandas as pd

# Пример DataFrame для сотрудников
employees_data = {
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'department_id': [1, 1, 2, 2, 3, 3],
    'salary': [70000, 80000, 90000, 90000, 60000, 60000]
}

employees_df = pd.DataFrame(employees_data)

# Пример DataFrame для департаментов
departments_data = {
    'id': [1, 2, 3],
    'department_name': ['HR', 'Engineering', 'Sales']
}

departments_df = pd.DataFrame(departments_data)

def highest_salary_per_department(employees_df: pd.DataFrame, departments_df: pd.DataFrame) -> pd.DataFrame:
    # Объединяем таблицы сотрудников и департаментов по department_id
    merged_df = pd.merge(employees_df, departments_df, left_on='department_id', right_on='id', suffixes=('', '_dept'))
    
    # Находим максимальную зарплату в каждом департаменте
    max_salaries = merged_df.groupby('department_name')['salary'].max().reset_index()
    
    # Объединяем с оригинальной таблицей, чтобы получить сотрудников с максимальной зарплатой
    result = pd.merge(merged_df, max_salaries, on=['department_name', 'salary'])
    
    return result[['id', 'name', 'department_name', 'salary']]

# Получаем результат
result_df = highest_salary_per_department(employees_df, departments_df)
print(result_df)

Find More

In [35]:
employees_data = {
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'department_id': [1, 1, 2, 2, 3, 3],
    'salary': [70000, 80000, 90000, 70000, 60000, 60000]
}

employees_df = pd.DataFrame(employees_data)
departments_data = {
    'id': [1, 2, 3],
    'department_name': ['HR', 'Engineering', 'Sales']
}

departments_df = pd.DataFrame(departments_data)
merged_df = pd.merge(employees_df, departments_df, left_on='department_id', right_on='id', suffixes=('', '_dept'))
max_salaries = merged_df.groupby('department_name')['salary'].max().reset_index()
result2 = merged_df.merge(max_salaries, on=['department_name', 'salary'])

result = merged_df[merged_df['salary'].isin(max_salaries['salary'])].rename_axis()

print(result2)
print(merged_df)

   id     name  department_id  salary  id_dept department_name
0   2      Bob              1   80000        1              HR
1   3  Charlie              2   90000        2     Engineering
2   5      Eve              3   60000        3           Sales
3   6    Frank              3   60000        3           Sales
   id     name  department_id  salary  id_dept department_name
0   1    Alice              1   70000        1              HR
1   2      Bob              1   80000        1              HR
2   3  Charlie              2   90000        2     Engineering
3   4    David              2   70000        2     Engineering
4   5      Eve              3   60000        3           Sales
5   6    Frank              3   60000        3           Sales

In [ ]:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    mer = pd.merge(employee, department, left_on='departmentId', right_on='id', suffixes=('','_dept'))
    gro = mer.groupby('name_dept')['salary'].max().reset_index()
    wrq = mer.merge(gro, on=['name_dept', 'salary'])
    aa = wrq[['name_dept', 'name', 'salary']].rename(columns={'name_dept': "Department", 'name': 'Employee', 'salary': 'Salary'})
    return aa

In [ ]:
def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    a = scores.sort_values(by='score', ascending=False)
    a['rank'] = a['score'].rank(method='dense', ascending=False)

    return a[['score', 'rank']]

In [ ]:
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    return person.drop_duplicates(subset='email', inplace=True)

In [38]:
data = {
    'product_id': [0, 1],
    'store1': [95, 70],
    'store2': [100, None],
    'store3': [105, 80]
}

products_df = pd.DataFrame(data)

# Преобразование в длинный формат
melted_df = products_df.melt(id_vars=['product_id'], var_name='store', value_name='price')
print(melted_df)

   product_id   store  price
0           0  store1   95.0
1           1  store1   70.0
2           0  store2  100.0
3           0  store3  105.0
4           1  store3   80.0

In [ ]:
def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    a = products.melt(id_vars=['product_id'], var_name='store', value_name='price').dropna()
    return a.sort_values(by=['store','product_id', 'price'])

In [ ]:
def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    # Сортируем DataFrame по score в порядке убывания
    sorted_scores = scores.sort_values(by='score', ascending=False).reset_index(drop=True)

    # Создаем новый DataFrame для хранения результатов
    result = pd.DataFrame(columns=['score', 'rank'])
    
    current_rank = 1
    previous_score = None

    for i in range(len(sorted_scores)):
        score = sorted_scores.loc[i, 'score']
        
        # Если текущий score отличается от предыдущего, обновляем ранг
        if score != previous_score:
            current_rank = i + 1  # Ранг равен индексу + 1

        # Добавляем строку в результат
        result = result.append({'score': score, 'rank': current_rank}, ignore_index=True)
        
        # Обновляем предыдущий score
        previous_score = score

    return result